.tag_h1 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 30px;
}

.tag_p {
    font-size: 16px;
    line-height: 20px;
}

.orange {
    color: var(--color-orange);
}
.violet {
    color: var(--color-violet);
}
.orangeDark {
    color: var(--color-orange-dark);
}
.orangeWhite {
    color: var(--color-orange-white);
}
.white {
    color: var(--color-white);
}
.gray100 {
    color: var(--color-gray-100);
}
.gray200 {
    color: var(--color-gray-200);
}
.gray500 {
    color: var(--color-gray-500);
}
.gray600 {
    color: var(--color-gray-600);
}
.gray900 {
    color: var(--color-gray-900);
}
.currentColor {
    color: currentColor;
}
