@import '~/shared/styles/variables.scss';

.button {
    --button-bg: var(--color-violet);
    --button-color: var(--color-white);
    --button-border-color: var(--color-violet);
    --button-bg-hover: var(--color-white);
    --button-color-hover: var(--color-violet);
    --button-border-color-hover: var(--color-violet);

    display: inline-flex;
    align-items: center;
    background: var(--button-bg);
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 10px;
    gap: 4px;
    cursor: pointer;
    transition:
        border-color,
        color,
        background 0.3s;

    &:hover {
        background: var(--button-bg-hover);
        color: var(--button-color-hover);
        border-color: var(--button-border-color-hover);
    }
}

.secondary {
    --button-bg: var(--color-white);
    --button-color: var(--color-violet);
    --button-border-color: var(--color-violet);
}
